# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
venv/
env/
.env

# Android & Gradle
.gradle/
build/
*/build/
app/build/
*.apk
*.aab
local.properties
.idea/
*.iml
.cxx/
captures/

# Windows / OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs
*.log
